@font-face {
  font-family: "Helvetica Neue";
  src: url(../assest/HelveticaNeueMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  height: 100%;
  width: 100%;
  background-color: #f33a3a;
  position: relative;
  overflow: hidden;
  background-color: linear-gradient(transparent, black);
  border-radius: 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .bottom {
    width: 100%;
    height: 40%;
    bottom: -40%;
    position: absolute;
  background-color: linear-gradient(transparent,black);
    transition: all 0.5s ease;

    h1 {
      font-size: 30px;
      color: white;
      padding: 20px;
      padding-left: 40px;
    }
  }
}

.card:hover .bottom {
  bottom: 0%;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.1);
}

#f{
  grid-row: span 2;
}

#s,#fi{
  grid-column: span 2;
}

#s{
  object-position: top;
}

#f img {
  object-position: center 40%;
}

#s img {
  object-position: center 40%;
}

#th img {
  object-position: center 45% ;
}

#fo img {
  object-position: 50% 40%;
}

#fi img {
  object-position: 50% 30%;
}

#si img {
  object-position: 50% 50%;
}



@media (max-width:480px) {
  main{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
  }

  .card{
    width: 100%;
    height: 300px;
    aspect-ratio: 1/3;
  }

   img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .bottom {
    width: 100%;
    height: 40%;
    bottom: -40%;
    position: absolute;
  background-color: linear-gradient(transparent,black);
    transition: all 0.5s ease;

    h1 {
      font-size: 30px;
      color: white;
      padding: 20px;
      padding-left: 40px;
    }
  }

  .card:hover .bottom {
  bottom: 0%;
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.1);
}

#f img {
  object-position: center 40%;
}

#s img {
  object-position: center 40%;
}

#th img {
  object-position: center 45% ;
}

#fo img {
  object-position: 50% 40%;
}

#fi img {
  object-position: 50% 30%;
}

#si img {
  object-position: 50% 50%;
}


}